modern_activity_tracker.txt
me.session
me.session-journal
__pycache__
bio.txt
username.txt
.env
current_activity.txt
ip.txt
logs.txt
me.session-wal
me.session-shm
telethon_session.session
telethon_session.session-journal
/venv
